<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Curriculo Dinâmico</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><strong><font face="Lucida Bright"><font color=" white"> Karinni Pereira Oliveira</font></font></strong></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="sobreMim"><a href="/"><strong><font face="Lucida Bright"><font color=" white">Sobre mim</font></font></strong></a></li>
          <li id="escolaridade"><a href="/escolaridade"><strong><font face="Lucida Bright"><font color=" white">Escolaridade</font></font></strong></a></li>
          <li id="experiencias"><a href="/experiencias"><strong><font face="Lucida Bright"><font color=" white">Experiências</font></font></strong></a></li>
          <li id="cursos"><a href="/cursos"><strong><font face="Lucida Bright"><font color=" white">Cursos</font></font></strong></a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
