<%- include("partials/header"); -%>
    <h2><font face="Lucida Bright">Contato</font></h2>
    <p> <%= contato %> </p>
<%- include("partials/footer"); -%>
<table cellpacing="20>"
  <tr><font face="Lucida Bright"><h5>
    <td><img src="https://hosting.photobucket.com/images/i/Karinni32/fotoKarinni.jpeg?width=450&height=278&crop=fill" alt="karinni profile picture"> </td>
    <div align = "center" </div>
    <p><h5><em><strong>Endereço:</strong>Avenida Paraná,1000 - Cajuru - SP</h5>
    <p><h5><strong>Idade:</strong>32 anos  <strong>Divorciada</strong></h5>
    <p><h5><strong>Telefone:</strong> (11)99275-8130 / (11)99275-8642 (Recado,Creusa)</h5>
    <p><h5><strong>E-mail:</strong> kaaah.oli@hotmail.com</h5>
    <p><h5><strong>Linkedin: <a href="https://www.linkedin.com/in/karinnioliveira/">Perfil</a></strong></h5>
    </tr>
</table>
