<%- include("partials/header"); -%>
    <h2><font face="Lucida Bright">Cursos Complementares</font></h2>
    <p> <%= cursos %> </p>
<%- include("partials/footer"); -%>
 <ol>
  <li> <font face="Lucida Bright"><h5>Banco de dados (MySQL, SQLServer, Postgre, Oracle - cursando);</font></li>
  <li> <font face="Lucida Bright"><h5>Python (cursando) - Curso em vídeo;</font></li>
  <li> <font face="Lucida Bright"><h5>Automação de Teste - Wipro do Brasil;</font></li>
  <li> <font face="Lucida Bright"><h5>Automação de Testes (Selenuim Webdriver em Java) - Udemy;</font></li>
  <li> <font face="Lucida Bright"><h5>Word Avançado - Fundação Bradesco;</font></li>
  <li> <font face="Lucida Bright"><h5>Algoritmo e Lógica de Programação do Absoluto ZERO! Completo - Udemy;</font></li>
  <li> <font face="Lucida Bright"><h5>Agile Fundamentals: Including Scrum and Kanban - 2021 - Udemy</font></li>
</ol>
  <h3><strong><font face="Lucida Bright"><h3>&nbsp;&nbsp;Idiomas adicionais:</font></strong></h3>
  <ul>
   <li><font face="Lucida Bright"><h5>Inglês básico</font> </li>
   </ul>

   <h3><strong><font face="Lucida Bright"><h3>&nbsp;&nbsp;Certificações:</font></strong></h3>
   <ul>
    <li><font face="Lucida Bright"><h5>Certificação Scrum Foundations – Certiprof.</font> </li>
    </ul>
