<%- include("partials/header"); -%>
    <h2><font face="Lucida Bright">Ensino Superior</font></h2>
    <p> <%= escolaridade %> </p>
<%- include("partials/footer"); -%>
<ul>
 <li><font face="Lucida Bright"><h5> Gestão da Tecnologia da Informação - Instituição Fatec Itu (2019) </h5></font></li>
 </ul>
