<%- include("partials/header"); -%>
    <h2><font face="Lucida Bright">Experiências Profissionais</font></h2>
    <p> <%= experiencias %> </p>
<%- include("partials/footer"); -%>
<table border="2">
  <thead>
       <tr>
            <td><strong><font color="#4B0082"><div align = "center" </div><font face="Lucida Bright"><h5>Empresa</h5></font></strong></td>
            <td><strong><font color="#4B0082"><div align = "center" </div><font face="Lucida Bright"><h5>Periodo</h5></font></strong></td>
            <td><strong><font color="#4B0082"><div align = "center" </div><font face="Lucida Bright"><h5>Cargo</h5></font></strong></td>
            <td><strong><font color="#4B0082"><div align = "center" </div><font face="Lucida Bright"><h5>Atividade</h5></font></strong></td>
        </tr>
    <tr>
        <td><strong><font face="Lucida Bright">&nbsp;Eduzz</font></strong></td>
        <td><font face="Lucida Bright">07/2021 (Atual)</td>
        <td><font face="Lucida Bright">Analista de suporte I</td>
        <td><font face="Lucida Bright">Atendimento de chat e chamados N1 através da ferramenta Grafana.</td>
    </tr>
    <tr>
       <td><strong><font face="Lucida Bright">&nbsp;SIMPRESS at Company</font></strong></td>
       <td><font face="Lucida Bright">12/2020 até 07/2021</font></td>
       <td><font face="Lucida Bright">Ténico Residente I</font></td>
       <td> <p><font face="Lucida Bright">Controle de insumos utilizados como folhas e toner, abastecendo com
         folha </p>
         <p>as impressoras e toner,abrindo e fechando chamados através da
         ferramenta Cervello 2.0,</p>
         <p>dando manutenção preventivas das impressoras para que não haja parada
        <p>de linha na produção e elaboração de relatóriosde ocorrência diárias.</p>
     </td>
     </tr>
         <tr>
           <td><strong><font face="Lucida Bright">&nbsp;WIPRO DO BRASIL</font></strong></td>
           <td><font face="Lucida Bright">09/2018 até 01/2019</font></td>
           <td><font face="Lucida Bright">Desenvolvedor (estagiário)</font></td>
           <td><font face="Lucida Bright">Estágio em Testes automatizados e dando suporte ao usuário através de e-mails.</font>
           </td>
      </tr>
      <tr>
        <td><strong><font face="Lucida Bright">&nbsp;PREFEITURA DA ESTÂNCIA TURÍSTICA DE ITU</font></strong></td>
        <td><font face="Lucida Bright">02/2019 até 12/2019</font></td>
        <td><font face="Lucida Bright">Instrutor de Informática</font></td>
        <td><p><font face="Lucida Bright">Estagiaria (instrutora de informática) aonde as principais funções
          eram instruir os alunos e professores </p>
        <p> a como utilizar um computador desde o básico, como pacote office,navegar
          na internet de forma segura,</p>
        <p>entre outras utilidades, também prestava suporte de manutenção nos
          computadores, impressoras e</p>
        <p>roteadores dentro da escola.Nessa experiencia tive a oportunidade de
          participa de projetos como criação</p>
        <p>de aulas,aplicação de provas, olimpíadas de matemáticas através do sistema Conect.</p>
        </td>
   </tr>
      <thead>
</table>
