<%- include("partials/header"); -%>
    <h2><font face="Lucida Bright">Sobre mim</font></h2>
    <p> <%= sobreMim %> </p>
<%- include("partials/footer"); -%>
<p><font face="Lucida Bright"><h4>&nbsp;&nbsp; Meu nome é Karinni tenho 32 anos, sou formada em Gestão da Tecnologia da Informação pela Instituição Fatec Itu.
Após um
de ter ingressado na faculdade surgiu a oportunidade de estágio na empresa LJS sistemas de informação e também pela prefeitura de Itu onde
    totalizou quase dois anos de estágios.</p>
  <p>&nbsp;&nbsp;Em ambas empresas eu trabalhei como instrutora de informática aonde as principais funções eram instruir os alunos
    e professores a como utilizar um computador desde o básico,
    como pacote office, navegar na internet de forma segura, entre outras utilidades,
    também prestava suporte de manutenção nos computadores, impressoras e roteadores dentro da escola.</p>
  <p>&nbsp;&nbsp;Nessas experiencias tive a oportunidade de participar de projetos como criação de aulas,
    aplicação de provas, olimpíadas de matemáticas. Fiz um estágio na Wipro, na parte de Testes automatizados,
    e dava suporte ao usuário através de e-mails. Depois que terminei a faculdade fiquei um tempo desempregada,
    sempre fazendo curso relacionados a área e <br>em busca de novas oportunidades.</p>
<br><br><br>
      <ul>
       <li>Gosto de trabalhar em equipe;</li>
       <li>Sempre tive bons relacionamentos com as pessoas;</li>
       <li>Tenho facilidade de aprendizagem;</li>
     </ul></h4>
